
/* Says that you do not want anything to be inline above or below these 
elements so this is what you would use for the box.
.clearfix::after{
    content: "";
    display: block;
    clear: both;
} */
/* The HTML would look like this:
div (clearfix)
    div: box main
    div: box side 
/div  */

#nav {
    float: left;
    width: 960px;
    list-style: none;
    border: 1px solid #cccccc;
    margin-left: 20px;
    background: #ffffff;
}

#nav li{
    float: left;
}

.name{
    padding: 30px 75px;
    border: 1px solid #cccccc;
    margin-left: 125px;
    background: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
}

.lineSpacer{
    margin: 0 2px;
}

.about{
    margin-left: 350px;
}

.about, .portfolio, .contact, .lineSpacer{
    padding: 30px 5px;
    color: #777777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

a{
    color: #777777;
    text-decoration: none;
}

footer{
    background-color: #666666;
    height: 75px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 960px;
    margin-left: 20px;
}

#footerTopBorder{
    height: 5px;
    background-color: #4aaaa5;
}

#footerText{
    align-content: center;
    color: white;
    font-size: 10px;
    text-align: center;
    padding-top: 25px;
}
