
/* Says that you do not want anything to be inline above or below these 
elements so this is what you would use for the box.
.clearfix::after{
    content: "";
    display: block;
    clear: both;
} */
/* The HTML would look like this:
div (clearfix)
    div: box main
    div: box side 
/div  */

heading{
    border: 1px solid black;
}

footer{
    background-color: #666666;
    height: 75px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%
    
}

#footerTopBorder{
    height: 5px;
    background-color: #4aaaa5;
}

#footerText{
    align-content: center;
    color: white;
    font-size: 10px;
    text-align: center;
    padding-top: 15px;
}
